.main{
    width: 100%;
}
.header{
   
    width: 100%;
     overflow: hidden; 
}
.header img{
    float: left;
}
.header ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-left: 600px;
}
.header ul li{
    float: left;
    padding: 17px 14px;
    

}
.header ul li a{
    
    /* margin-left: 40px; */
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
    